<div class="main_container">
    <div class="information">
    <h2>スケジュール新規作成</h2>
</div>
<%= render "shared/error", obj: @task %> <!--ここを追加する-->

<%= form_with model: @task do |f| %>
    <table>
        <tr>
        <th><%= f.label :title ,"タイトル" %></th>
        <td><%= f.text_field :title %></td>
        </tr>
        <tr>
        <th><%= f.label :start ,"開始日" %></th>
        <td><%= f.date_field :start %></td>
        </tr>
        <tr>
        <th><%= f.label :end ,"終了日" %></th>
        <td><%= f.date_field :end %></td>
        </tr>
        <tr>
        <th><%= f.label :syujitu ,"終日" %></th>
        <td><%= f.check_box :syujitu %></td>
        </tr>
        <tr>
        <th><%= f.label :memo ,"スケジュールメモ" %></th>
        <td><%= f.text_area :memo %></td>
        </tr>
    </table>
    <div>
        <ul>
            <li><%= f.submit "登録完了する" %></li>
            <li><%= link_to "スケジュール一覧に戻る", :tasks %></li>
        </ul>
    </div>
    <% end %>
</div>