<div class="main_container">
    <div class="information">
    <h2>スケジュール詳細</h2>

</div>
    <table>
    <tr>
        <th>タイトル</th>
        <td><%= @task.title %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @task.start %></td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td><%= @task.created_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td>
            <strong><%= judge(@task.id) %></strong>
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><pre><%= @task.memo %></pre></td>
    </tr>
</table>

<ul>
    <li><%= link_to "スケジュール一覧に戻る", :tasks %></li>
    <li><a href="/posts/1424/edit">スケジュールを編集する</a></li>
    <li>
        <a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/posts/1424">スケジュールを削除</a>
    </li>
</ul>
</div>